*{
    font-family: Montserrat;
    scrollbar-width: 10px;
}
*::-webkit-scrollbar {
    height: 20px;
    width: 10px;
}
*::-webkit-scrollbar-track{
    background: #333b41;
}
*::-webkit-scrollbar-thumb{
    background-color: #d6d6d6;
    border-radius: 5px;
    border: 2px solid #333b41;
}
/* Контейнеры */
.con_row{
    display: flex;
    flex-direction: row;
}
.con_col{
    display: flex;
    flex-direction: column;
}
/* Header */
header{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 950;
    width: 100%;
}
#header_wrapper{
    margin: 0px auto;
    max-width: 1500px;
    justify-content: space-between;
}
#logo{
    color: #ffffff;
    margin: 10px 20px;
    font-weight: 700;
    font-size: 30px;
}
/* Кнопки */
#buttons{
    margin: 10px 20px;
    /* margin-left: 45vw; */
    justify-content: space-between;
}
#buttons>*{
    height: 30px;
    padding: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.2s;
}
#buttons>*:hover{
    cursor: pointer;
}
#blackavo{
    white-space: nowrap;
}
/* Menu */
.hamburger-menu{
    display: none;
}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #f3f1f1;
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0px;
}
#menu__toggle:checked ~ body{
    overflow-x: hidden;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;

    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1500;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: #f3f1f1;

    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -10px;
}
.menu__btn > span::after {
    content: '';
    top: 10px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -250px;
    z-index: 1000;

    width: 250px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #1d1e1f;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
}

.menu{
    padding: 2vh 5vh 5vh;
    display: flex;
    justify-content: space-around;
    height: 5vh;
}
.menu__item {
    display: block;
    padding: 12px 25px;

    color: rgb(255, 254, 254);

    cursor: pointer;
    font-family: Montserrat;
    font-size: 3vh;
    font-weight: 1000;
    text-decoration-line: none;
    transition-duration: .25s;
}
.menu__item:hover{
    color: rgb(194, 191, 191);
}
/* -- */
body{
    background-color: #58575733;
}
/* -- */
/* Контент */
.content_wrapper{
    height: 103vh;
    max-width: 100%;
    justify-content: center;
}
.content_con{
    margin: auto;
    height: 100%;
    max-width: 1500px;
    justify-content: space-between;
}

/* Блоки с текстами */
h1{
    max-width: 40vw;
    font-size: 60px;
    font-weight: 700;
    margin: 20px;
}
h2{
    font-size: 50px;
    font-weight: 600;
    padding: 15px;    
}
h3{
    font-size: 40px;
    font-weight: 400;
    padding: 15px;
    height: fit-content; 
}
.txt1{
    color: #222222;
}
.txt2{
    color: #ffffff;
}
/* hidden */
.ov_hidden{
    overflow: hidden;
}
.hidden{
    display: none;
}
/* Popup */
.popup{
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 50px;
    background: linear-gradient(#252f34, #1d2224);
    top: 0;
    left: 0;
}
.popup_wrapper{
    /* position: relative; */
    max-width: 1540px;
    margin: auto;
    align-self: center;
    justify-items: center;
    align-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}
#data{
    color: #ffffff;
    margin: 130px auto 30px;
    width: 60vw;
    text-align: center;
    font-size: 50px;
}
#x{
    position: absolute;
    top: 25px;
    right: 0px;
    color: #ffffff;
    /* margin: 20px; */
    font-size: 150px;
    font-weight: 600;
}

/* Сетка */
#grid25{
    /* margin: auto; */
    max-width: 1050px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
#grid25>input{
    background: #333b41;
    height: 48px;
    font-size: 20px;
    padding: 15px;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}
#grid25>input::placeholder{
    color: #d4d4d4;
}
#input1 { grid-area: 1 / 1 / 2 / 2; }
#input2 { grid-area: 1 / 2 / 2 / 3; }
#input3 { grid-area: 2 / 1 / 3 / 3; }
#input4 { grid-area: 3 / 1 / 5 / 3;
    height: 98px;
    background: #333b41;
    font-size: 20px;
    padding: 15px 15px;
    border-bottom: 2px solid #ffffff;
    resize: none;
    color: #ffffff;
}
#input4::placeholder{
    color: #d4d4d4;
}
#input5 { grid-area: 5 / 1 / 6 / 3;
    cursor: pointer;
    background: #ffffff;
    justify-self: center;
    max-width: 500px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    color: #000000;

    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
#input5:hover{
    background-color: #d4d4d4;
}

/* 1 страница */
#fr1{
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    background-position: -125px -150px;
    background-size: 125%;
}
#motto{
    font-size: 80px;
    text-align: left;
    align-self: center;
    margin-right: 50px;
}

/* 2 страница */
#fr2{
    background-image: url("../img/24_1.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: cover;
}
#bg2{
    background-color: #7ca7ac;
}
#comfort{
    margin: 100px 5px 0px;
    max-width: 20vw;
}
#comfort>h2{
    font-size:50px;
}
#comfort>h3{
    font-size: 40px;
}
#comfort>*{
    text-align: left;
}

/* 3 страница */
#fr3{
    /* background: linear-gradient(90deg, #741e09 20%, #A28419 100%); */
    background-image: url("../img/2.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100%;
}
#versatility_h2_1{
    display: none;
}
#versatility{
    width: 100%;
    margin-top: 100px;
    align-content: center;
}
#versatility>*{
    text-align: center;
    color: #cfcdcd;
    width: 100%;
}

/* 4 страница */
#fr4{
    background-image: url("../img/23.png");
    background-repeat: no-repeat;
    background-position: -20px 0;
    background-size: 105%;
}
#modularity_h2_1{
    display: none;
}
#modularity{
    width: 100%;
    margin: 100px 0px 0px;
    align-content: center;
}
#modularity>h2{
    text-align: center;
    font-size: 50px;
    width: 100%;
}
#modularity>h3{
    text-align: center;
    font-size: 40px;
    width: 100%;
}

/* 5 страница */
#fr5{
    background-image: url("../img/27_1.png");
    background-repeat: no-repeat;
    background-position: -20px -20px;
    background-size: 105%;
}
/* 6 страница */
#fr6{
    background-image: url("../img/25.png");
    background-repeat: no-repeat;
    background-position: -20px 0;
    background-size: 105%;
}
#quality{
    /* background: #5f5d6d; */
    border-radius: 15px;
    height: fit-content;
    padding: 15px;
    max-width: 45vw;
    margin-top: 100px;
}
#quality>h2{
    font-size: 65px;
}
#quality>h3{
    font-size: 45px;
}
#quality>*{
    margin: 5px;
    word-wrap: break-word;
}
#eco{
    align-self:  flex-end;
    border-radius: 15px;
    height: fit-content;
    padding: 15px;
    max-width: 45vw;
    margin-bottom: 50px;
}
#eco>h2{
    font-size: 65px;
}
#eco>h3{
    font-size: 45px;
}
#eco>*{
    margin: 5px;
    text-align: right;
    word-wrap: break-word;
}
/* 7 страница */
#fr7{
    background-image: url("../img/31.png");
    background-repeat: no-repeat;
    background-position: -750px -250px;
    background-size: 150%;
}
.txt_vers{
    max-width: 35vw;
    margin: 200px 5px 0px;
}
/* 8 страница */
#fr8{
    background-image: url("../img/32.png");
    background-repeat: no-repeat;
    background-position: -750px -250px;
    background-size: 150%;
}
/* 9 страница */
#fr9{
    height: 100vh;

    background-image: url("../img/33.png");
    background-repeat: no-repeat;
    background-position: -750px -250px;
    background-size: 150%;
}

/* Colors */
.c22{
    background: #222222;
}
.f34{
    background: #252f34;
}
/* @media */
@media screen and (max-width:1500px) {
    .txt{
        max-width: 1440px;
    }
    #versatility{
        margin: 20px 0 0;
    }
    #modularity{
        margin: 20px 0 0;
    }
    #fr7{
        background-size: cover;
        background-position: 0 0;
    }
    #fr8{
        background-size: cover;
        background-position: 0 0;
    }
    #fr9{
        background-size: cover;
        background-position: 0 0;
    }
}
@media screen and (max-width:1380px) {
    #fr1{
        background-position: -650px -200px;
        background-size: 180%;
    }
    #fr3{
        height: 80vh;
    }
    #fr4{
        height: 80vh;
    }
    #fr5{
        height: 80vh;
    }
    /* 6 страница */
    #fr6{
        background-repeat: no-repeat;
        background-position: -20px 0;
        background-size: 105%;
    }
    #quality{
        max-width: 45vw;
        margin-top: 100px;
    }
    #quality>h2{
        font-size: 55px;
    }
    #quality>h3{
        font-size: 35px;
    }
    #eco{
        max-width: 45vw;
        margin-top: 100px;
    }
    #eco>h2{
        font-size: 55px;
    }
    #eco>h3{
        font-size: 35px;
    }
    #eco>*{
        text-align: right;
    }
    #fr7{
        background-position-x: -100px;
    }
    #fr8{
        background-position-x: -100px;
    }
    #fr9{
        background-position-x: -100px;
    }
}
@media screen and (max-width:1200px) {
    #header_wrapper{
        max-width: 1000px;
    }
    .content_con{
        max-width: 1000px;
    }
    #grid25{
        max-width: 1000px;
    }
    #fr1{
        background-position: -650px -150px;
        background-size: 190%;
    }
    #motto{
        font-size: 50px;
        max-width: 350px;
    }
    #fr3{
        height: 80vh;
        background-image: url("../img/2_2.png");
        background-size: cover;
        background-position-x: center;
        background-position-y: 0px;
    }
    #versatility>h2{
        font-size: 35px;
    }
    #versatility>h3{
        font-size: 30px;
    }
    #modularity>h2{
        font-size: 35px;
    }
    #modularity>h3{
        font-size: 30px;
    }
    #fr4{
        height: 105vh;
        background-image: url("../img/23_1.png");
        background-position-x: 0px;
        background-position-y: -50px;
        background-size: 100%;
    }
    #fr5{
        background-position: -100px 0;
        background-size: cover;
    }
}
@media screen and (max-width:1065px){
    #fr1{
        background-position: -800px -150px;
        background-size: 220%;
    }
    #motto{
        font-size: 60px;
        max-width: 300px;
    }
    #fr5{
        background-position: -200px 0;
        background-size: cover;
    }
    #fr6{
        background-position: -100px 0;
        background-size: cover;
    }
    #quality{
        max-width: 35vw;
        margin-top: 50px;
    }
    #quality>h2{
        font-size: 35px;
    }
    #quality>h3{
        font-size: 30px;
    }
    #eco{
        max-width: 35vw;
        margin-bottom: 70px;
    }
    #eco>h2{
        font-size: 35px;
    }
    #eco>h3{
        font-size: 30px;
    }
    .txt_vers{
        margin: 50px 5px 0px;
    }
    .txt_vers>h3{
        font-size: 30px;
    }
    #fr7{
        background-position-x: 0px;
        background-position-y: 0px;
    }
    #fr8{
        background-position-x: 0px;
        background-position-y: 0px;
    }
    #fr9{
        background-position-x: 0px;
        background-position-y: 0px;
    }
}
@media screen and (max-width:1024px){
    .txt_vers{
        max-width: 100vw;
        margin-top: 70px;
    }
    .txt_vers>h2{
        font-size: 50px;
        text-align: center;
    }
    .txt_vers>h3{
        font-size: 40px;
        max-width: 80vw;
        text-align: center;
    }
    #fr7{
        height: 100vh;
        background-image: url("../img/31_1.png");
        background-size: cover;
        background-position-x: center;
        background-position-y: 0px;
    }
    #fr8{
        height: 100vh;
        background-image: url("../img/32_1.png");
        background-size: cover;
        background-position-x: center;
        background-position-y: 0px;
    }
    #fr9{
        height: 100vh;
        background-image: url("../img/33_1.png");
        background-size: cover;
        background-position-x: center;
        background-position-y: 0px;
    }
}
@media screen and (max-width:1015px){
    #header_wrapper{
        max-width: 900px;
    }
    .content_con{
        max-width: 900px;
    }
    #fr1{
        background-position: -750px -150px;
        background-size: 220%;
    }
    #motto{
        font-size: 45px;
        max-width: 250px;
    }
    #fr2{
        height: 100vh;
        background-position-x: -200px;
    }
    #fr3{
        background-image: url("../img/2_1.png");
        background-size: 100%;
        background-position: 0 -70px;
    }
    #fr3_cc{
        justify-content: flex-end;
    }
    #versatility{
        max-width: 43vw;
    }
    #versatility>h2{
        font-size: 30px;
    }
    #versatility>h3{
        font-size: 30px;
    }
    #fr4{
        height: 100vh;
        background-image: url("../img/23_3.png");
        background-size: 100%;
        background-position: 0 0;
    }
    #fr4_cc{
        justify-content: flex-start;
    }
    #modularity{
        max-width: 43vw;
    }
    #modularity>h2{
        font-size: 35px;
    }
    #modularity>h3{
        font-size: 35px;
    }
    /* 5 страница */
    #fr5{
        background-position: -250px 0;
        background-size: cover;
    }
    /* 6 страница */
    #fr6{
        background-image: url("../img/25.png");
        background-repeat: no-repeat;
        background-position: -20px 0;
        background-size: cover;
    }
    #quality>h2{
        font-size: 30px;
    }
    #quality>h3{
        font-size: 25px;
    }
    #eco>h2{
        font-size: 30px;
    }
    #eco>h3{
        font-size: 25px;
    }
}
@media screen and (max-width:900px){
    /* 5 страница */
    #fr5{
        background-position: -320px 0;
        background-size: cover;
    }
}
@media screen and (max-width:850px){
    /* 5 страница */
    #fr5{
        background-position: -380px 0;
        background-size: cover;
    }
}
@media screen and (max-width:768px){
    header{
        width: 100vw;
    }
    #header_wrapper{
        width: 100vw;
    }
    #menu__toggle:checked ~ .menu__btn > span,
    .menu_btn > span::before,
    .menu_btn > span::after {
        position: fixed;
    }
    #buttons{
        display: none;
    }
    .hamburger-menu{
        display: flex;
        margin: 10px;
        margin-right: 50px;
    }
    .menu_text{
        display: none;
    }
    /* Страницы */
    .content_wrapper{
        max-height: 105vh;
    }
    .content_con{
        max-width: none;
    }
    /* Popup */
    #data{
        font-size: 35px;
    }
    /* 1 страница */
    #fr1{
        background-image: url("../img/1_4.png");
        background-position: center;
        background-size: cover;
    }
    #fr1_cc{
        justify-content: center;
        align-items: flex-start;
    }
    #motto{
        margin: 0;
        margin-top: 100px;
        font-size: 50px;
        text-align: center;
        align-self: flex-start;
        width: 100%;
        color: #d6d6d6;
        /* text-shadow: 1px 0 2px #b6b6b6, 0 1px 2px #b6b6b6, -1px 0 2px #b6b6b6, 0 -1px 2px #b6b6b6; */
    }
    /* 2 страница */
    #fr2{
        background-size: cover;
        background-position-x: -400px;
    }
    #comfort>h2{
        max-width: none;
        font-size: 35px;
    }
    #comfort>h3{
        max-width: 50vw;
        font-size: 30px;
    }
    /* 3 страница */
    #fr3{
        height: 100vh;
        background-image: url("../img/2_11.png");
        background-size: cover;
        background-position-x: -250px;
        background-position-y: 0px;
    }
    #fr3_cc{
        position: relative;
        justify-content: center;
        align-items: flex-end;
    }
    #versatility{
        max-width: 70vw;
        align-items: flex-end;
    }
    #versatility>h2{
        max-width: 65vw;
        font-size: 33px;
        text-align: right;
    }
    #versatility>h3{
        max-width: 50vw;
        font-size: 30px;
        text-align: right;
    }
    /* 4 страница */
    #fr4{
        height: 100vh;
        background-image: url("../img/23_4.png");
        background-size: cover;
        background-position-x: -400px;
        background-position-y: center;
    }
    #fr4_cc{
        justify-content: center;
        align-items: flex-start;
    }
    #modularity {
        max-width: 60vw;
        margin: 0;
    }
    #modularity>h2{
        font-size: 35px;
        text-align: left;
    }
    #modularity>h3{
        font-size: 30px;
        text-align: left;
    }
    /* 5 страница */
    #fr5{
        background-position-x: -350px;
        background-position-y: 0px;
    }
    /* 6 страница */
    #fr6{
        background-image: url("../img/25.png");
        background-repeat: no-repeat;
        background-position: -20px 0;
        background-size: cover;
    }
    #fr6>.content_con{
        flex-direction: column;
    }
    #quality{
        margin-top: 50px;
    }
    #quality>h2{
        font-size: 30px;
    }
    #quality>h3{
        font-size: 25px;
    }
    #eco{
        margin-top: 50px;
    }
    #eco>h2{
        font-size: 30px;
    }
    #eco>h3{
        font-size: 25px;
    }
    .txt_vers{
        margin-top: 50px;
    }
    .txt_vers>h2{
        font-size: 40px;
        text-align: center;
    }
    .txt_vers>h3{
        font-size: 30px;
        text-align: center;
    }
}
@media screen and (max-width: 600px){
    /* Popup */
    #data{
        font-size: 30px;
    }
    #fr3{
        background-position-x: -250px;
    }
    #fr4{
        background-position-x: -450px;
    }
    #fr5{
        background-position-x: -350px;
    }
    #versatility_h2_1{
        display: inline;
        position: absolute;
        top: 15px;
        left: 0;
        margin: 0;
        padding: 15px;
        width: 100vw;
        font-size: 35px;
        text-align: center;
        color: #cfcdcd;
    }
    #versatility_h2_2{
        display: none;
    }
    #versatility>h3{
        font-size: 30px;
        max-width: 60vw;
    }
    #fr4_cc{
        position: relative;
    }
    #modularity{
        max-width: 60vw;
        align-items: flex-start;
    }
    #modularity_h2_1{
        display: inline;
        position: absolute;
        top: 0px;
        margin-top: 15px;
        padding: 15px;
        width: 100vw;
        text-align: center;
        font-size: 35px;
    }
    #modularity_h2_2{
        display: none;
    }
    #modularity>h3{
        max-width: 60vw;
    }
    .txt_vers>h3{
        max-width: 100vw;
    }
}
@media screen and (max-width: 500px){
    #fr1{
        background-image: url("../img/1_4.png");
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    #motto{
        font-size: 40px;
    }
    #fr2{
        background-position-x: -550px;
    }
    #comfort{
        margin: 0px;
        justify-content: center;
    }
    #comfort>h2{
        font-size: 30px;
        text-shadow: 1px 0px 2px #1d1e1f, 0px 1px 2px #1d1e1f, -1px 0px 2px #1d1e1f, 0px -1px 2px #1d1e1f;
    }
    #comfort>h3{
        font-size: 25px;
        text-shadow: 1px 0px 2px #1d1e1f, 0px 1px 2px #1d1e1f, -1px 0px 2px #1d1e1f, 0px -1px 2px #1d1e1f;
    }
    #fr3{
        background-image: url("../img/2_12.png");
        background-position-x: -200px;
    }
    #versatility_h2_1{
        font-size: 30px;
    }
    #versatility>h3{
        font-size: 25px;
    }
    #fr4{
        background-position-x: -570px;
        background-position-y: 0;
        background-size: cover;
    }
    #modularity_h2_1{
        font-size: 30px;
    }
    #modularity>h2{
        font-size: 30px;
    }
    #modularity>h3{
        font-size: 25px;
    }
    #fr5{
        height: 70vh;
        background-size: cover;
        background-position-x: -350px;
    }
    .txt_vers{
        max-width: 100vw;
    }
    .txt_vers>h2{
        font-size: 30px;
    }
    .txt_vers>h3{
        font-size: 25px;
        max-width: 100vw;
    }
}
@media screen and (max-width: 400px){
    #fr1{
        background-image: url("../img/1_4.png");
    }
    #motto{
        color: #d6d6d6;
        margin: 70px 0 0;
        text-shadow: none;
    }
    #fr2{
        background-position-x: -500px;
    }
    #fr3{
        background-position-x: -180px;
        background-position-y: center;
    }
    #versatility{
        margin: 0px;
    }
    #versatility>h3{
        max-width: 60vw;
    }
    #fr4{
        background-position-x: -500px;
    }
    #modularity{
        margin: 0px;
    }
    #modularity_h2_1{
        font-size: 30px;
    }
    #fr5{
        background-position-x: -300px;
    }
}
@media screen and (max-width: 350px){
    #logo{
        font-size: 30px;
        margin: 5px 15px;
    }
    #header_wrapper{
        max-height: 40px;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after{
        height: 5px;
        width: 30px;
    }
    .menu__btn>span::before{
        top: -10px;
    }
    .menu__btn>span::after{
        top: 10px;
    }
    .hamburger-menu{
        margin: 5px;
        margin-right: 50px;
    }
    #comfort{
        margin-top: 20px;
    }
    #comfort>h2{
        font-size: 25px;
    }
    #comfort>h3{
        font-size: 20px;
    }
    #fr3{
        background-position-x: -150px;
    }
    #versatility_h2_1{
        font-size: 25px;
    }
    #versatility>h3{
        font-size: 20px;
    }
    #fr4{
        background-position-x: -450px;
    }
    #modularity>h3{
        font-size: 25px;
    }
    #modularity>h3{
        font-size: 20px;
    }
    #fr5{
        background-position-x: -275px;
    }
    .txt_vers>h2{
        font-size: 25px;
    }
    .txt_vers>h3{
        font-size: 20px;
    }
}
@media screen and (max-width: 300px){
    #fr3{
        background-image: url("../img/2_14.png");
        background-position-x: -110px;
    }
    #fr4{
        background-position-x: -600px;
    }
    #versatility_h2_1{
        margin-top: 20px;
    }
    #versatility>h3{
        max-width: 65vw;
    }
    #fr5{
        height: 50vh;
        background-position-x: -200px;
    }
    .txt_vers{
        margin-top: 10px;
    }
}
@media screen and (max-width: 500px) and (min-width: 400px) and (min-height: 800px) and (max-height: 900px){
    #motto{
        font-size: 50px;
    }
    #fr2{
        background-position-x: -700px;
    }
    #fr3{
        background-image: url("../img/2_13.png");
        background-position-x: -200px;
    }
    #versatility_h2_1{
        top: 40px;
    }
    #versatility{
        margin: 0;
    }
    #fr4{
        background-position-x: -700px;
    }
    #modularity_h2_1{
        top: 25px;
    }
    #fr5{
        background-position-x: -430px;
    }
    
}
@media screen and (max-width: 400px) and (min-height: 800px) and (max-height: 900px) {
    #fr1{
        background-image: url("../img/1_5.png");
        background-position-x: -290px;
        background-position-y: 0;
    }
    #motto{
        margin-top: 120px;
    }
    #fr2{
        background-position-x: -650px;
    }
    #fr3{
        background-image: url("../img/2_14.png");
        background-position-x: -130px;
    }
    #fr4{
        background-image: url("../img/23_4.png");
        background-position-x: -710px;
    }
    #fr5{
        background-position-x: -430px;
    }
    #fr7{
        background-image: url("../img/31_2.png");
    }
    #fr8{
        background-image: url("../img/32_2.png");
    }
    #fr9{
        background-image: url("../img/33_2.png");
    }
}
@media screen and (min-width:1740px) {
    #comfort{
        margin-top: 300px;
    }
}
@media screen and (max-width:1050px) and (min-width:1000px) and (max-height:1400px) and (min-height:1200px){
    #fr1{
        background-image: url("../img/1_1.png");
        background-size: 140%;
        background-position-x: -300px;
        background-position-y: 0px;
    }
    #fr2{
        background-position-x: -900px;
        background-position-y: 0px;
    }
    #comfort{
        max-width: 50vw;
    }
    #comfort>h2{
        font-size: 60px;
    }
    #comfort>h3{
        max-width: 40vw;
        font-size: 50px;
    }
    #fr3{
        height: 100vh;
        background-image: url("../img/2_11.png");
        background-size: cover;
        background-position-x: -450px;
        background-position-y: 0px;
    }
    #fr3_cc{
        justify-content: center;
        align-items: flex-end;
    }
    #versatility{
        margin: 0px;
        max-width: 70vw;
        align-items: flex-end;
    }
    #versatility>h2{
        max-width: 65vw;
        font-size: 60px;
        text-align: right;
    }
    #versatility>h3{
        max-width: 40vw;
        font-size: 50px;
        text-align: right;
    }
    #fr4{
        height: 100vh;
        background-image: url("../img/23_4.png");
        background-size: cover;
        background-position-x: -850px;
        background-position-y: center;
    }
    #fr4_cc{
        justify-content: center;
        align-items: flex-start;
    }
    #modularity{
        margin: 0px;
        max-width: 60vw;
    }
    #modularity>h2{
        max-width: 65vw;
        font-size: 60px;
        text-align: left;
    }
    #modularity>h3{
        max-width: 40vw;
        font-size: 50px;
        text-align: left;
    }
    #fr5{
        background-size: cover;
        background-position-x: -550px;
        background-position-y: 0px;
    }
}
@media screen and (max-width:1400px) and (min-width:1300px) and (max-height: 1100px) and (min-height: 1000px){
    #fr2{
        background-position-x: -500px;
    }
    #fr3{
        background-image: url("../img/2_2.png");
        background-size: cover;
        background-position-x: -120px;
    }
    #fr4{
        background-size: cover;
    }
    #fr5{
        background-size: cover;
        background-position-x: 0;
        background-position-y: 0;
    }
    .txt_vers{
        margin: 0;
        justify-content: center;
    }
    #fr7{
        background-position-x: -400px;
    }
    #fr8{
        background-position-x: -400px;
    }
    #fr9{
        background-position-x: -400px;
    }
}
@media screen and (max-width: 768px) and (max-height: 1050px) and (min-height: 900px) {
    #fr1_cc{
        width: 100vw;
        position: relative;
    }
    #motto{
        position: absolute;
        margin: 0;
        top: 105px;
        padding: 15px;
        font-size: 70px;
        max-width: 70vw;
    }
    #fr2{
        background-position-x: -550px;
    }
    #comfort>h2{
        font-size: 45px;
    }
    #comfort>h3{
        font-size: 40px;
    }
    #fr3{
        background-position-x: -330px;
    }
    #versatility>h2{
        font-size: 40px;
    }
    #versatility>h3{
        font-size: 35px;
    }
    #fr4{
        background-position-x: -650px;
    }
    #modularity>h2{
        font-size: 40px;
    }
    #modularity>h3{
        font-size: 35px;
    }
    #fr5{
        background-position-x: -500px;
    }
    #fr7_cc{
        width: 100vw;
    }
    .txt_vers{
        margin: 90px auto 0px;
        justify-content: flex-start;
        max-width: 100vw;
    }
    .txt_vers>h2{
        font-size: 40px;
    }
    .txt_vers>h3{
        font-size: 35px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 1000px) and (min-height: 700px) and (max-height: 800px){
    #fr2{
        background-position-x: -300px;
    }
    #comfort>h2{
        font-size: 35px;
    }
    #comfort>h3{
        font-size: 30px;
    }
    #fr3{
        background-image: url("../img/2_2.png");
        background-size: cover;
        height: 80vh;
    }
    #versatility{
        margin-top: 60px;
    }
    #fr4{
        height: 80vh;
    }
    #modularity{
        margin-top: 40px;
    }
    #fr5{
        height: 100vh;
        background-position-x: -100px;
    }
    .txt_vers{
        margin: 0px;
        max-width: 50vw;
    }
    .txt_vers>h2{
        font-size: 40px;
        text-align: left;
    }
    .txt_vers>h3{
        font-size: 35px;
        text-align: left;
    }
    #fr7{
        background-image: url("../img/31.png");
        background-position-x: -250px;
        background-position-y: 0;
    }
    #fr8{
        background-image: url("../img/32.png");
        background-position-x: -250px;
        background-position-y: 0;
    }
    #fr9{
        background-image: url("../img/33.png");
        background-position-x: -250px;
        background-position-y: 0;
    }
}
@media screen and (max-width: 1024px) and (min-width: 1000px) and (min-height: 600px) and (max-height: 700px){
    #fr1{
        background-size: cover;
        background-position-x: 0;
        background-position-y: 0;
    }
    #comfort>h2{
        font-size: 35px;
    }
    #comfort>h3{
        font-size: 30px;
    }
    #fr3{
        height: 100vh;
    }
    #fr4{
        height: 100vh;
    }
    #fr5{
        height: 100vh;
        background-position-x: 0;
    }
    .txt_vers{
        margin: 0px;
        max-width: 50vw;
        justify-content: center;
    }
    .txt_vers>h2{
        font-size: 40px;
        text-align: left;
    }
    .txt_vers>h3{
        font-size: 35px;
        text-align: left;
    }
    #fr7{
        background-image: url("../img/31.png");
        background-position-x: 0;
        background-position-y: 0;
    }
    #fr8{
        background-image: url("../img/32.png");
        background-position-x: 0;
        background-position-y: 0;
    }
    #fr9{
        background-image: url("../img/33.png");
        background-position-x: 0;
        background-position-y: 0;
    }
}
@media screen and (max-width: 1024px) and (min-width: 1000px) and (min-height: 700px) and (max-height: 800px){
    .txt_vers{
        justify-content: center;
    }
}
@media screen and (max-width:850px) and (max-height:500px) and (min-height:350px){
    #logo{
        margin: 10px 15px;
        font-size: 20px;
    }
    #header_wrapper{
        height: 40px;
    }
    #buttons{
        display: flex;
        margin: 10px 15px;
    }
    #buttons>div{
        font-size: 20px;
        padding: 0px 10px;
    }
    #buy{
        padding: 0px 10px;
    }
    .hamburger-menu{
        display: none;
    }
    h2{
        padding: 10px;
    }
    h3{
        padding: 10px;
    }
    #fr1{
        background-image: url("../img/1.png");
        background-position-x: 0;
        background-position-y: 0px;
        background-size: cover;
    }
    #fr1_cc{
        justify-content: flex-start;
    }
    #motto{
        margin: 0;
        margin-left: 50px;
        align-self: center;
        color: #d6d6d6;
    }
    #fr2{
        background-position-x: 0;
    }
    #comfort{
        margin-top: 50px;
    }
    #comfort>h2{
        font-size: 25px;
    }
    #comfort>h3{
        font-size: 20px;
    }
    #fr3{
        height: 100vh;
        background-image: url("../img/2.png");
        background-position-x: 0;
        background-position-y: 0px;
    }
    #fr3_cc{
        justify-content: flex-start;
        align-items: center;
    }
    #versatility{
        margin-top: 30px;
        max-width: 100vw;
        align-items: center;
    }
    #versatility>h2{
        font-size: 25px;
        text-align: center;
    }
    #versatility>h3{
        font-size: 20px;
        text-align: center;
        max-width: 100vw;
    }
    #fr4{
        background-image: url("../img/23_42.png");
        background-size: cover;
    }
    #fr4_cc{
        justify-content: center;
    }
    #modularity>h2{
        font-size: 25px;
        color: #d4d4d4;
        text-align: left;
        text-shadow: 1px 0px 2px #1d1e1f, 0px 1px 2px #1d1e1f, -1px 0px 2px #1d1e1f, 0px -1px 2px #1d1e1f;
    }
    #modularity>h3{
        font-size: 20px;
        color: #d4d4d4;
        text-align: left;
        text-shadow: 1px 0px 2px #1d1e1f, 0px 1px 2px #1d1e1f, -1px 0px 2px #1d1e1f, 0px -1px 2px #1d1e1f;
    }
    #fr5{
        height: 100vh;
        background-position-x: 0px;
        background-position-y: -40px;
    }
    .txt_vers{
        margin: 0px 5px;
        max-width: 50vw;
        justify-content: center;
    }
    .txt_vers>h2{
        font-size: 25px;
    }
    .txt_vers>h3{
        font-size: 20px;
    }
    #fr7{
        background-image: url("../img/31.png");
        background-position-x: 0;
        background-position-y: 0;
    }
    #fr8{
        background-image: url("../img/32.png");
        background-position-x: 0;
        background-position-y: 0;
    }
    #fr9{
        background-image: url("../img/33.png");
        background-position-x: 0;
        background-position-y: 0;
    }
}
@media screen and (max-width:800px) and (max-height:500px) and (min-height:350px){
    #fr4{
        background-size: cover;
        background-position-x: -75px;
    }
    #fr5{
        height: 80vh;
    }
}
@media screen and (max-width:800px) and (min-width:350px) and (max-height:600px) and (min-height:500px){
    #logo{
        margin: 10px 15px;
        font-size: 20px;
    }
    #header_wrapper{
        height: 40px;
    }
    #buttons{
        display: flex;
        margin: 10px 15px;
    }
    #buttons>div{
        font-size: 20px;
        padding: 0px 10px;
    }
    #buy{
        padding: 0px 10px;
    }
    .hamburger-menu{
        display: none;
    }
    #fr2{
        background-position-x: 0px;
    }
    #comfort{
        margin-top: 30px;
    }
    #comfort>h2{
        font-size: 30px;
    }
    #comfort>h3{
        font-size: 25px;
    }
    #fr3{
        background-image: url("../img/2_16.png");
        background-size: cover;
        background-position-x: -275px;
        background-position-y: 0px;
    }
    #versatility>h2{
        font-size: 30px;
    }
    #versatility>h3{
        font-size: 25px;
    }
    #fr4{
        background-position-x: -50px;
    }
    #modularity>h2{
        font-size: 30px;
        color: #d4d4d4;
        text-shadow: 1px 0px 2px #1d1e1f, 0px 1px 2px #1d1e1f, -1px 0px 2px #1d1e1f, 0px -1px 2px #1d1e1f;
    }
    #modularity>h3{
        font-size: 25px;
        color: #d4d4d4;
        text-shadow: 1px 0px 2px #1d1e1f, 0px 1px 2px #1d1e1f, -1px 0px 2px #1d1e1f, 0px -1px 2px #1d1e1f;
    }
    #fr5{
        background-position-x: 0px;
    }
    .txt_vers{
        margin: 0px;
        max-width: 50vw;
        justify-content: center;
        align-items: flex-start;
    }
    .txt_vers>h2{
        text-align: left;
        font-size: 30px;
    }
    .txt_vers>h3{
        text-align: left;
        font-size: 25px;
    }
    #fr7{
        background-image: url("../img/31.png");
        background-position-x: -180px;
    }
    #fr8{
        background-image: url("../img/32.png");
        background-position-x: -180px;
    }
    #fr9{
        background-image: url("../img/33.png");
        background-position-x: -180px;
    }
}
@media screen and (max-width:650px) and (max-height: 400px) and (min-height: 300px) {
    h2{
        padding: 10px;
    }
    h3{
        padding: 10px;
    }
    #fr1{
        background-image: url("../img/1.png");
        background-position-x: 0px;
        background-position-y: 10px;
    }
    #fr1_cc{
        justify-content: flex-start;
    }
    #motto{
        margin: 0;
        margin-left: 30px;
        align-self: center;
        font-size: 40px;
    }
    #fr2{
        background-position-x: 0;
    }
    #comfort{
        margin-top: 40px;
    }
    #comfort>h2{
        font-size: 25px;
    }
    #comfort>h3{
        font-size: 20px;
    }
    #fr3{
        background-image: url("../img/2.png");
        background-position-x: 0;
    }
    #fr3_cc{
        justify-content: flex-start;
        align-items: center;
    }
    #versatility{
        margin-top: 25px;
        max-width: 100vw;
        align-items: center;
    }
    #versatility_h2_1{
        display: none;
    }
    #versatility_h2_2{
        display: inline;
    }
    #versatility>h2{
        font-size: 25px;
        text-align: center;
    }
    #versatility>h3{
        font-size: 20px;
        text-align: center;
        max-width: 100vw;
    }
    #fr4{
        background-image: url("../img/23_42.png");
        background-position-x: -80px;
    }
    #modularity_h2_1{
        display: none;
    }
    #modularity_h2_2{
        display: inline;
    }
    #modularity>h2{
        font-size: 25px;
    }
    #modularity>h3{
        font-size: 20px;
    }
    #fr5{
        background-position-x: 0px;
        background-position-y: -50px;
    }
    .txt_vers{
        margin: 0px 5px;
        max-width: 50vw;
        justify-content: center;
    }
    .txt_vers>h2{
        font-size: 25px;
    }
    .txt_vers>h3{
        font-size: 20px;
    }
    #fr7{
        background-image: url("../img/31.png");
        background-position-x: 0;
        background-position-y: 0;
    }
    #fr8{
        background-image: url("../img/32.png");
        background-position-x: 0;
        background-position-y: 0;
    }
    #fr9{
        background-image: url("../img/33.png");
        background-position-x: 0;
        background-position-y: 0;
    }
}
@media screen and (max-width:600px) and (max-height: 350px) and (min-height: 300px) {
    #logo{
        margin: 7.5px 15px;
        font-size: 15px;
    }
    #header_wrapper{
        height: 30px;
    }
    #buttons{
        display: flex;
        margin: 7.5px 15px;
    }
    #buttons>div{
        font-size: 15px;
        padding: 0px 10px;
    }
    #buy{
        font-size: 15px;
        padding: 0px 10px;
    }
    .hamburger-menu{
        display: none;
    }
    h2{
        padding: 5px;
    }
    h3{
        padding: 5px;
    }
    #motto{
        font-size: 30px;
    }
    #comfort>h2{
        font-size: 20px;
    }
    #comfort>h3{
        font-size: 15px;
    }
    #versatility>h2{
        font-size: 20px;
    }
    #versatility>h3{
        font-size: 15px;
    }
    #modularity>h2{
        font-size: 20px;
        color: #d4d4d4;
        text-shadow: 1px 0px 2px #1d1e1f, 0px 1px 2px #1d1e1f, -1px 0px 2px #1d1e1f, 0px -1px 2px #1d1e1f;
    }
    #modularity>h3{
        font-size: 15px;
        color: #d4d4d4;
        text-shadow: 1px 0px 2px #1d1e1f, 0px 1px 2px #1d1e1f, -1px 0px 2px #1d1e1f, 0px -1px 2px #1d1e1f;
    }
    .txt_vers>h2{
        font-size: 20px;
    }
    .txt_vers>h3{
        font-size: 15px;
    }
}
@media screen and (max-width:700px) and (max-height: 300px) and (min-height: 250px) {
    #logo{
        margin: 7.5px 15px;
        font-size: 15px;
    }
    #header_wrapper{
        height: 30px;
    }
    #buttons{
        display: flex;
        margin: 7.5px 15px;
    }
    #buttons>div{
        font-size: 15px;
        padding: 0px 10px;
    }
    #buy{
        font-size: 15px;
        padding: 0px 10px;
    }
    .hamburger-menu{
        display: none;
    }
    h2{
        padding: 10px;
    }
    h3{
        padding: 10px;
    }
    #fr1{
        background-image: url("../img/1.png");
        background-position-x: 0px;
        background-position-y: 0px;
    }
    #fr1_cc{
        justify-content: flex-start;
    }
    #motto{
        margin-top: 30px;
        padding: 0px 20px;
        font-size: 40px;
        align-self: center;
    }
    #fr2{
        background-size: cover;
        background-position-x: 0;
        background-position-y: 0;
    }
    #fr2_cc{
        justify-content: flex-start;
        align-items: center;
    }
    #comfort{
        margin: 0px;
    }
    #comfort>h2{
        font-size: 20px;
    }
    #comfort>h3{
        font-size: 15px;
    }
    #fr3{
        background-image: url("../img/2_2.png");
        background-size: cover;
        background-position-x: 0;
        background-position-y: -40px;
    }
    #fr3_cc{
        justify-content: flex-start;
        align-items: center;
    }
    #versatility>h2{
        font-size: 20px;
        max-width: 100vw;
        text-align: center;
    }
    #versatility>h3{
        font-size: 15px;
        max-width: 100vw;
        text-align: center;
    }
    #fr4{
        background-image: url("../img/23_42.png");
        background-size: cover;
        background-position-x: 0;
        background-position-y: 0;
    }
    #modularity>h2{
        font-size: 20px;
        color: #d4d4d4;
        text-shadow: 1px 0px 2px #1d1e1f, 0px 1px 2px #1d1e1f, -1px 0px 2px #1d1e1f, 0px -1px 2px #1d1e1f;
    }
    #modularity>h3{
        font-size: 15px;
        color: #d4d4d4;
        text-shadow: 1px 0px 2px #1d1e1f, 0px 1px 2px #1d1e1f, -1px 0px 2px #1d1e1f, 0px -1px 2px #1d1e1f;
    }
    #fr5{
        height: 100vh;
        background-position-x: 0;
        background-position-y: -60px;
    }
    .txt_vers{
        margin: 0;
        justify-content: center;
        align-items: flex-start;
    }
    .txt_vers>h2{
        font-size: 20px;
        text-align: left;
    }
    .txt_vers>h3{
        font-size: 15px;
        text-align: left;
        max-width: 45vw;
    }
    #fr7{
        background-image: url("../img/31.png");
        background-size: cover;
        background-position-x: 0px;
        background-position-y: -40px;
    }
    #fr8{
        background-image: url("../img/32.png");
        background-size: cover;
        background-position-x: 0px;
        background-position-y: -40px;
    }
    #fr9{
        background-image: url("../img/33.png");
        background-size: cover;
        background-position-x: 0px;
        background-position-y: -40px;
    }
}
@media screen and (max-width: 300px) and (max-height: 700px) and (min-height: 600px) {
    .hamburger-menu{
        margin-right: 35px;
    }
    #fr1{
        background-image: url("../img/1_5.png");
    }
    #fr2{
        background-position-x: -550px;
    }
    #fr3{
        background-image: url("../img/2_17.png");
        background-size: cover;
        background-position-x: -280px;
    }
    #fr4{
        background-image: url("../img/23_43.png");
        background-position-x: -350px;
    }
    .txt_vers{
        margin-top: 60px;
    }
    #fr7{
        background-image: url("../img/31_2.png");
        background-position-x: -310px;
    }
    #fr8{
        background-image: url("../img/32_2.png");
        background-position-x: -340px;
    }
    #fr9{
        background-image: url("../img/33_2.png");
        background-position-x: -290px;
    }
}